.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffcccc;
  color: #fff;
  z-index: 999;

  .header-top {
    width: 73%;
    margin: auto;
    display: flex;
    font-family: Helvetica Neue, Helvetica, Arial;
    @media (max-width: 1200px) {
      width: 90%;
    }
    @media (max-width: 882px) {
      width: 100%;
    }
    .row {
      width: 100%;
      .logo {
        display: inherit;
        margin-top: 22px;
        @media (max-width: 767px) {
          margin-top: 0px;
          margin-bottom: -45px;
        }
        img {
          height: 59px;
          margin-bottom: 28px;
        }
        span {
          font-size: 40px;
          @media (max-width: 793px) {
            font-size: 33px;
          }
          @media (max-width: 767px) {
            font-size: 42px;
          }
        }
      }
      .search-area {
        @media (max-width: 767px) {
          margin-left: 25px;
        }
        .search-inner {
          display: flex;
          margin-top: 27px;
          input {
            margin-right: 5px;
          }
          button {
            width: 90px;
            background-color: #f99a9c;
          }
        }
        .navigation-bar {
          margin-top: 4px;
          .ant-menu {
            background-color: #ffcccc;
            .ant-menu-item {
              height: 40px;
              border-radius: 5px 5px 0px 0px;
            }
          }
          .ant-menu-item-selected {
            background-color: white;
            color: black;
          }
        }
      }
      .cart-header {
        .icon-header {
          margin-top: 27px;
          // margin-left: 5px;
          cursor: pointer;
          i {
            font-size: 30px;
          }
          .total-product {
            position: relative;
            top: -42px;
            left: 17px;
            background-color: red;
            border-radius: 50%;
            font-size: 10px;
            text-align: center;
            width: 19px;
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    background-color: #fff;
    height: 25px;
  }
}
